.footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 50px;

}

.footer-container {
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.footer-text {
    margin: 20px;
    width: 70vw;
    text-align: center;
}


.footer-menu {
    display: flex;
    justify-content: center;
}

.footer-menu a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.social-media-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social-media-icon i {
    font-size: 1.5rem;
    color: white;
    margin-top: 5vh;

}